.card-top-cover {
   height: 134px;
   width: 100%;
   border-radius: 0.375rem;   
}

.image-cover-orange:before {
    content: ' ';
    background-size: cover;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-image: url('/src/img/card/orange.png')
}
.image-cover-pink:before {
    content: ' ';
    background-size: cover;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-image: url('/src/img/card/pink.png')
}
.image-cover-main:before {
    content: ' ';
    background-size: cover;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    background-image: url('/src/img/card/blue.png')

}

.card-top:before {
    content: ' ';
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}    
.card:hover .card-top:before {
    opacity: 1;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}