
button.primary {
    @apply bg-accent-blue rounded-md text-white
}
button.default {
    @apply bg-transparent rounded-md border border-accent-blue text-text-button
}

button.disabled {
    @apply cursor-not-allowed grayscale   
}
button.medium {
    @apply px-3 py-1 
}
button.dashed {
    @apply rounded-md border border-dashed border-accent-blue text-text-button
}
button.large {
    @apply px-3 py-2
}
button.small {
    @apply py-0 px-1.5
}
button:hover:not(.disabled):not(.selected) {
    @apply md:opacity-70     
}
button:not(.primary):not(.disabled):hover {
    @apply md:text-accent-blue
}
button.text {
    @apply py-1 px-2 bg-transparent text-text-button
}

button.text:hover:not(.disabled) {
    @apply md:bg-gray-100 md:rounded-md
}
button:active:not(.text):not(.disabled):not(.selected) {
    @apply shadow-md
}
button:active.text:not(.disabled):not(.selected) {
    @apply md:shadow-lg
}
.button-link {
    @apply text-accent-blue underline
}

button.selected:not(.disabled) {
    @apply text-accent-blue cursor-not-allowed border border-accent-blue rounded-md
}

